@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"] | Jeffrey Cundiff</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 
OneTel Template
http://www.templatemo.com/tm-468-onetel
-->
	<!-- stylesheet css -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/css/nivo-lightbox.css">
	<link rel="stylesheet" href="~/css/nivo_themes/default/default.css">
	<!-- JQuery Plugin -->
	<link rel="stylesheet" href="~/css/jquery.flipster.min.css">
	<link rel="stylesheet" href="~/css/templatemo-style.css">
	<!-- Custome CSS -->
	<link rel="stylesheet" href="~/css/custom.css">
	<!-- google web font css -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
	
<!-- navigation -->

<div class="container">
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<div class="col collapse navbar-collapse">
				<ul class="social-icons">
					<li><a href="https://www.linkedin.com/in/jeffrey-cundiff-b7b658255/" target="_blank" class="fa fa-linkedin"></a></li>
					<li><a href="https://github.com/J-Cundiff" target="_blank" class="fa fa-github"></a></li>
				</ul>
			</div>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="@Url.Action("Index", "Home")">HOME</a></li>
				<li><a href="@Url.Action("Portfolio", "Home")">PORTFOLIO</a></li>
				<li><a href="@Url.Action("Resume", "Home")">RESUME</a></li>
				<li><a href="@Url.Action("About", "Home")">TEAM</a></li>
				<li><a href="@Url.Action("Contact", "Home")">CONTACT</a></li>
			</ul>
		</div>
	</div>
</div>		

@RenderBody()
	

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row text-center">
			<div class="col">
				<p><i class="fa fa-phone"></i> 816-447-6450</p>
				<p><i class="fa fa-envelope-o"></i> jd.cundiff@outlook.com</p>
              <p><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/jeffrey-cundiff-b7b658255/" target="_blank">Message me on LinkedIn </a></p>
			</div>
		</div>
	</div>
</footer>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<p class="text-center" id="copyright"></p>
			</div>
		</div>
	</div>
</div>


<!-- javascript js -->	
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>	
<script src="~/js/nivo-lightbox.min.js"></script>
<script src="~/js/jquery.flipster.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/gsap.min.js"></script>

	<script>

		//For each <li> in the <nav class="menu">, apply the following function

		$('.collapse li').each(function () {

			//If the <a> tag inside a <li> is linked to the current URL

			if ($(this).find('a').attr('href') == window.location.pathname) {

				//Add the "active" class

				$(this).addClass('active');

			}

		});

	</script>


	@RenderSection("scripts", required: false)

</body>
</html>